# Spring AI
OPENAI_BASE_URL=https://apis.itedus.cn
OPENAI_API_KEY=

# PostgreSQL / PGVector
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=15432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DATABASE=ai-rag-knowledge

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@qq.com
PGADMIN_DEFAULT_PASSWORD=

# MCP - CSDN
CSDN_API_CATEGORIES=Java场景面试宝典
CSDN_API_COOKIE=

# MCP - Weixin
WEIXIN_API_ORIGINAL_ID=
WEIXIN_API_APP_ID=
WEIXIN_API_APP_SECRET=
WEIXIN_API_TEMPLATE_ID=
WEIXIN_API_TOUSER=
